<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/images/cerebroIcon.png" type="image/x-icon">

  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/index.css">

  <title>Genius Game</title>
</head>

<body>
  <header class="header-game">
    <h1>Genius Game</h1>
  </header>

  <main class="main-game">
    <section class="game">
      <div class="game__left--blue"></div>
      <div class="game__right--yellow"></div>
      <div class="game__bottom-left--red"></div>
      <div class="game__bottom-right--green"></div>
    </section>
  </main>

  <script src="../index.js"></script>
</body>

</html>